<%= form_for(job) do |f| %>
<%= form_for(job) do |f| %>
  <p>
    <%= f.label job_id %><br/>
    <%= f.text_field job_id %>
  </p>
  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>
    <p>
    <%= f.label :department_name %><br/>
    <%= f.text_field :department_name %>
  </p>
  <p>
    <%= f.label :department_id %><br/>
    <%= f.text_field :department_id %>
  </p>
  <p>
    <%= f.submit %>
        <%= link_to "Cancel", jobs_path %>
  </p>
<% end %>