 <%= form_for(@job) do |f| %>

<p>
    <%= f.label :job_id %><br/>
    <%= f.text_field :job_id %>
  </p>

  <p>
    <%= f.label :date_added %><br/>
    <%= f.text_field :date_added %>
  </p>
    <p>
    <%= f.label :job_due_date %><br/>
    <%= f.text_field :job_due_date %>
  </p>
  <p>
    <%= f.label :job_designation %><br/>
    <%= f.text_field :job_designation %>
  </p>
    <p>
    <%= f.label :job_salesperson %><br/>
    <%= f.text_field :job_salesperson %>
  </p>
  <p>
    <%= f.label :job_name %><br/>
    <%= f.text_field :job_name %>
  </p>

  <p>
    <%= f.label :job_description %><br/>
    <%= f.text_field :job_description %>
  </p>

  <p>
    <%= f.submit %>
        <%= link_to "Cancel", jobs_path %>
  </p>
<% end %>