<h1>Job</h1>
<h2><%= @job.job_name %></h2>

<b>Job Designation:</b> <%= @job.job_designation %><br />
<b>Job ID:</b> <%= @job.job_id %><br />
<b>Job Number:</b> Need Job Number Added to Columns<br />
<b>Salesperson:</b> <%= @job.job_salesperson %><br />
<b>Dated Added:</b> <%= @job.date_added %><br />
<b>Due Date:</b> <%= @job.job_due_date %><br />
<b>Job Description:</b> <%= @job.job_description %><br />
<br />


<nav>
  <%= link_to "All Jobs", jobs_path %> |
  <%= link_to "Edit Job", edit_job_path(@job) %> | 
  <%= link_to "Delete Job", job_path(@job), method: :delete, data: { confirm: 'Are you sure?' } %>

</nav>

	